/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(43, 43, 63) 80%;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#main_radio_content{
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;

  background-color: rgb(27, 34, 53);
  justify-content: center;
  overflow-y: scroll;
}

#main_radio_content img{
  position: absolute;
  display: flex;
  
  width: 85%;
  height: 30%;
  opacity: 55%;
  top: 15%;
  z-index: 1;
}

#main_radio_content span{
  position: relative;
  display: flex;
  top: 15%;
}

#main_radio_content strong{
  position: relative;
  display: flex;
  top: 15%;
}

#main_radio_content .button-play{
  position: absolute;
  width: 300px;
  height: 150px;
  top: 30%;
  left: 65%;
}

#main_radio_content .main_label_despertai{
  position: absolute;
  display: flex;
  top: 25%;
  width: 87%;
  height: 75%;
  
  background: linear-gradient(270deg, rgb(27, 34, 53), rgba(192, 194, 207, 0.877),rgb(27, 34, 53));
  color: rgb(27, 34, 53);
}

#main_radio_content .main_label_despertai .list-video{
  width: 25%;
  height: 75%;
  margin-top: 10%;
  overflow-y: scroll;
}

#main_radio_content .main_label_despertai .list-video button{
  margin-top: 10%;
  width: 65%;
  height: 25%;
  border: 3px solid whitesmoke;
  border-radius: 15px;
  background: none;
  transition: 0.3s;
}

#main_radio_content .main_label_despertai .list-video button:hover{
  cursor: pointer;
  border: 3px solid rgb(124, 135, 156);
}

#main_radio_content .main_label_despertai .video{
  width: 75%;
  height: 75%;
  margin-top: 10%;
}