#main_radio_content{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(2250deg, rgb(214, 214, 214), rgb(255, 255, 255) 100%);
}

#main_radio_content .capaDespertai{
  width: 50vw;
  height: 30vh;

  position: absolute;
  display: flex;
}

#main_radio_content .capaDespertai img{
  position: relative;
  display: flex;
  
  width: 50vw;
  height: 25vh;
  top: 15vh;
}

#main_radio_content .horarios{
  width: 50vw;
  height: 25vh;
  background: linear-gradient(2200deg, rgba(14, 14, 14),rgb(41, 39, 39));

  position: relative;
  display: flex;
  float: right;
  top: 15vh;
}

#main_radio_content .horarios .playerboard{
  width: 50vw;
  height: 8vh;

  position: relative;
  float: left;
  top: 17vh;
}