#main_label_sobre{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(27, 34, 53);
}

#main_label_sobre .content{
  position: absolute;
  display: flex;
  width: 85%;
  height: 100vh;

  background: linear-gradient( 2200deg, rgb(190, 190, 190), rgb(230, 229, 229));
  color: rgb(27, 34, 53);;
  overflow-y: scroll;
}

#main_label_sobre .content .sobre{
  position: absolute;
  display: flex;
  float: right;
  width: 95%;
  height: 70%;
  top: 80%;
  padding: 2%;
}

#main_label_sobre .content .sobre strong{
  font-family: 'Philosopher', sans-serif;
  font-size: 35px;
  font-weight: 100;
}

#main_label_sobre .content .sobre span{

}

#main_label_sobre .content .sobre .foto{
  position: absolute;
  width: auto;
  height: auto;
  top: 20%;
  margin-left: 65%;
}

#main_label_sobre .content .sobre .foto img{
  width: 350px;
}

#main_label_sobre .content .pastores{
  position: absolute;
  display: flex;
  float: right;
  width: 97%;
  height: 80%;
  top: 20%;
  justify-content: right;
}

#main_label_sobre .content .pastores strong{
  font-family: 'Philosopher', sans-serif;
  font-size: 35px;
  font-weight: 100;
}

#main_label_sobre .content .pastores span{

}

#main_label_sobre .content .pastores .foto{
  position: absolute;
  width: auto;
  height: auto;
  top: 10%;
  margin-right: 75%;
}

#main_label_sobre .content .pastores .foto img{
  width: 260px;
}

#main_label_sobre .content .cremos{
  position: absolute;
  display: flex;
  float: right;
  width: 95%;
  height: 70%;
  top: 140%;
  padding: 2%;
}

#main_label_sobre .content .cremos strong{
  font-family: 'Philosopher', sans-serif;
  font-size: 35px;
  font-weight: 100;
}

#main_label_sobre .content .cremos img{
  position: absolute;
  display: flex;
  top: 15%;
  left: 5%;
  width: 90%;
  height: 140%;
}