#main_label_sobre{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(27, 34, 53);
}

#main_label_sobre .content{
  position: absolute;
  display: flex;
  width: 85%;
  height: 100vh;

  background-color: rgb(212, 205, 205);
  color: rgb(27, 34, 53);;
  overflow-y: scroll;
}

#main_label_sobre .content .sobre{
  position: absolute;
  display: flex;
  float: right;
  width: 95%;
  height: 70%;
  top: 20%;
  padding: 2%;
}

#main_label_sobre .content .sobre strong{
  font-family: 'Philosopher', sans-serif;
  font-size: 35px;
  font-weight: 100;
}

#main_label_sobre .content .sobre span{

}

#main_label_sobre .content .pastores{
  position: absolute;
  display: flex;
  float: left;
  width: 97%;
  height: 80%;
  top: 80%;
  justify-content: right;
}

#main_label_sobre .content .pastores strong{
  font-family: 'Philosopher', sans-serif;
  font-size: 35px;
  font-weight: 100;
}

#main_label_sobre .content .pastores span{

}

#main_label_sobre .content .cremos{
  position: absolute;
  display: flex;
  float: right;
  width: 95%;
  height: 70%;
  top: 140%;
  padding: 2%;
}

#main_label_sobre .content .cremos strong{
  font-family: 'Philosopher', sans-serif;
  font-size: 35px;
  font-weight: 100;
}

#main_label_sobre .content .cremos span{

}