#popup-container{
  position: fixed;
  width: 590px;
  height: 340px;
  top: 0;
  left: 30vh;
  background-color: rgb(27, 34, 53);
  border-radius: 15px;
  border: 4px solid white;

  justify-content: center;
  align-items: center;
}