#button-play{
  width: 15vw;
  padding-left: 20vh;
}

#button-play .Button{
  margin-left: 20px;
  background: none;
  border: none;

  display: flex;
  justify-content: center;
  align-content: center;
}

#button-play button:hover{
  cursor: pointer;
  border-radius: 20px;
  z-index: 1;
}

#button-play .Button .playButton{
  width: 70px;
  z-index: 1;
}

#button-play .Button .pauseButton{
  width: 70px;
  z-index: 1;
}